@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
.title {
  position:relative;
  margin-top:-8px;
  margin-left:-8px;
  width:calc(100% + 16px);
  background: linear-gradient(90deg, rgba(166,120,236,1) 0%, rgba(169,234,184,1) 100%);
}
.title p {
  font-size: 18px;
  display: initial;
  font-family: 'Sawarabi Mincho', serif;
}
.text-block {
  user-select: none;
}
.block-in {
  display: initial;
}
.font-size-big {
  font-size: 32px;
}
